numpy
rouge_score
fire
openai
git+https://github.com/huggingface/transformers  ## Make sure you install the transformers-4.28.0.dev0
torch
sentencepiece
tokenizers==0.12.1
wandb
accelerate
regex
pandas
bs4
bert_score
openpyxl
fschat