numpy
rouge_score
fire
openai
transformers==4.28.1  ## Make sure you install the transformers-4.28.0.dev0 or 4.28.1
torch
sentencepiece
tokenizers==0.12.1
wandb
accelerate
regex
pandas
bs4
bert_score
openpyxl
fschat